<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
>
<head>
    <title layout:title="CV | Alexander Goussas"></title>
</head>
<body>

<div layout:fragment="content" id="cv">

    <h1>Curriculum Vitae</h1>

    <section id="work">
        <h2>Work Experience</h2>
        <div class="work-entry" th:each="entry : ${workEntries}">
            <div class="work-entry-tagline">
                <span class="work-entry-company" th:text="${entry.company}"> </span>
                <span class="work-entry-date" th:text="${entry.date}"> </span>
            </div>
            <span class="work-entry-position" th:text="${entry.position}"></span>
            <p class="work-entry-description" th:text="${entry.description}"></p>
        </div>
    </section>

    <section id="education">
        <h2>Education</h2>
        <div class="education-entry" th:each="entry : ${educationEntries}">
            <div class="education-entry-tagline">
                <span class="education-entry-institution" th:text="${entry.institution}"> </span>
                <span class="education-entry-date" th:text="${entry.date}"> </span>
            </div>
            <span class="education-entry-title" th:text="${entry.title}"></span>
            <p class="education-entry-description" th:text="${entry.description}"></p>
        </div>
    </section>

    <section id="skills">
        <h2>Skills and Languages</h2>

        <div>

            <section id="skillz">
                <h3>Skills</h3>
                <ul>
                    <li>
                        <span class="skill-name">Linux</span>
                        <span class="skill-desc">
                            I've been a Linux user since 2019 when a friend coerced me into installing Ubuntu.
                        </span>
                    </li>
                    <li>
                        <span class="skill-name">Java</span>
                        <span class="skill-desc">
                            Java was the first programming language I learned when I was still studying biology.
                            It's accompanied me ever since, and we know each other as if I came out of its womb or something.
                        </span>
                    </li>
                    <li>
                        <span class="skill-name">Haskell</span>
                        <span class="skill-desc">
                            If Java is my mother, then Haskell was my first love. We were forced to part ways due to socioeconomic
                            reasons, but she is ever present in my mind, and we meet at times when the skies are dark and mother sleeps.
                        </span>
                    </li>
                    <li>
                        <span class="skill-name">Any programming language</span>
                        <span class="skill-desc">
                            Many programming languages implement similar semantics behind different syntax.
                            Give me a week to go full on your preferred language's documentation, and I'll
                            give you a toy interpreter exposed over UDP written in it.
                        </span>
                    </li>
                </ul>
            </section>

            <section id="languages">
                <h3>Languages</h3>
                <ul>
                    <li>
                        <span class="lang">Spanish</span>
                        <span class="lang-level">Native</span>
                    </li>
                    <li>
                        <span class="lang">English</span>
                        <span class="lang-level">C2</span>
                    </li>
                    <li>
                        <span class="lang">French</span>
                        <span class="lang-level">B1</span>
                    </li>
                    <li>
                        <span class="lang">Portuguese</span>
                        <span class="lang-level">B2</span>
                    </li>
                    <li>
                        <span class="lang">German</span>
                        <span class="lang-level">A1</span>
                    </li>
                </ul>
            </section>
        </div>
    </section>

</div>

</body>
</html>
