<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.thymeleaf.org"
>
<head>
    <title layout:title="Alexander Goussas"></title>
</head>
<body>

<div layout:fragment="content">

    <section id="banner">
        <h1>Alexander Goussas</h1>

        <p>
            God gave men fingers, and then men could program.
        </p>
    </section>

    <section id="socials">
        <ul>
            <li><a target="_blank" href="https://github.com/aloussase"><i class="fa-brands fa-github"></i></a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/alexander-goussas/"><i
                    class="fa-brands fa-linkedin"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/aloussase/"><i
                    class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="https://www.x.com/aloussase/"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/@aloussase/"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </section>
</div>

</body>
</html>
